form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 40px;
}

.input-field {
  height: 20px;
  border-radius: 3px 0 0 3px;
  border: 1px solid lightgrey;
  border-right: none;
  outline: none;
  flex: 10;
}

.input-field:focus-visible {
  border: 1px solid grey;
}

.add-btn {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  background: #EDC68F;
  border-radius: 3px;
  border: none;
}

.isactive {
  background: lightsalmon;
}

@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    form {
      width: 60vw;
    }

    .add-btn {
      position: relative;
      right: 21px;
    }    
  }