.todo-item {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  padding: 7px 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.todo-item p {
  margin-left: 20px;
}

fa-icon {
  font-size: 1.15em;
  position: fixed;
  right: 12vw;
}

.iscomplete {
  text-decoration: line-through;
}


@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    .todo-item {
      width: 55vw;
      height: 25px;
      margin: 0 auto 10px;
    }

    fa-icon {
      right: 23vw;
    }
  }