body {
  width: 85vw;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    body {
      margin: 0;
      text-align: center;
    }
  }